*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    /* propiedad que  */
    height: 100vh;
    background-image: url('../images/header.jpg');
    background-position: center;
    background-size: cover;
}

    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero h1{
    font-size:50px;
}

.hero p{
    font-size:20px;
}


/* PROJECTS */
.projects{
    background:#eee;
    padding:40px;
    text-align:center;
}

.projects-container{
    margin-top:30px;

    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:40px;
}

.project img{
    width:150px;
}


/* FEEDBACK */

.feedback{
    background:#4f9a9a;
    color:white;
    text-align:center;
    padding:30px;
}


/* Info */

.info{
    display:flex;
    padding:40px;
    gap:40px;
}

.about{
    flex:1;
}

.map{
    flex:1;
}

.map iframe{
    width:100%;
    height:300px;
}

/* COMENTAR ESTE APARTADO */

footer{
    background:#777;
    color:white;
    padding:30px;
}

.footer-links{
    display:flex;
    justify-content:space-between;
    margin-top:20px;
}

.year{
    text-align:center;
    margin-top:20px;
}

/* Responsive (media queries) */

@media (max-width: 768px){

    .projects-container{
        gap:20px;
    }

    .project img{
        width:120px;
    }

    .info{
        flex-direction:column;
    }

    .footer-links{
        flex-direction:column;
        gap:20px;
    }

}